@font-face {
  font-family: "Playfair_Display";
  src:
    local("Playfair_Display"),
    url(../Fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"),
    url(../Fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.25;
  line-height: 1.75;
}

h2,
h3 {
  font-family: "Playfair_Display", serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 2.5rem;
  line-height: 1.25;
  font-weight: 400;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.5;
  font-weight: 300;
}

img {
  display: block;
  max-inline-size: 100%;
}

.two-column-layout-header {
  display: grid;

  position: relative;
  background: white;

  @media (width > 1770px) {
    grid-template-columns: 1fr 1fr;
  }
}

.two-column-layout-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);

  background: teal;

  transform: skewY(-15deg);
  transform-origin: top left;

  z-index: 0;

  @media (width < 1770px) {
    transform: skewY(-55deg);
    transform-origin: top left;
  }
}

.portrait {
  position: relative;
  z-index: 2;
  margin-block: 3rem;
  margin-inline-start: 4rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

  @media (width < 1770px) {
    margin-inline: 4rem;
  }
}

.portrait img {
  width: 100%;
}

.name {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 7rem;
  font-family: "Playfair_Display";
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  color: #fff;

  @media (width < 1770px) {
    font-size: 9rem;
  }
}

.header-right {
  position: relative;
  z-index: 1;
  margin-block: 7rem;
  margin-inline-end: 4rem;
  padding-block: 5rem;
  padding-inline: 3rem;
  background: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @media (width < 1770px) {
    margin-inline-start: 4rem;
  }
}



.introduction {
  padding-top: 2rem;
  font-size: 2em;
}

.social-links-primary {
  display: flex;
  justify-content: flex-end;
}

.social-links-primary ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.social-links-primary ul li {
  width: 3rem;
  height: 3rem;
}
